@using KIJ.Data.DtoModels
@{
    ViewData["Title"] = "Create Algorithm";
}
@model CreateAlgorithmDto
<h1>Here is form for creating new algorithm.</h1>

<form asp-controller="Algorithm" asp-action="CreateAlgorithm" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating mb-3">
            <input asp-for="@Model.Name" class="form-control" value="@Model.Name" />
            <label for=@Model.Name>Algorithm Name</label>
            <span asp-validation-for=@Model.Name class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            
            <select asp-for=@Model.Type>
                <option value="">Select Type</option>
                <option value="Sorting">Sorting</option>
                <option value="Searching">Searching</option>
                <option value="Graph">Graph</option>
                <option value="Other">Other</option>
            </select>
            <span asp-validation-for=@Model.Type class="text-danger"></span>
        </div>

        <div class="form-floating mb-lg-3">
            <textarea rows="20" cols="100" style="white-space: pre-wrap" spellcheck="false"  asp-for=@Model.Implementation value=@Model.Implementation></textarea>
            <label for=@Model.Implementation></label>
            <span asp-validation-for=@Model.Implementation class="text-danger"></span>

            <textarea rows="20" cols="50"  style="white-space: pre-wrap; float:right;"  asp-for=@Model.Notes value=@Model.Implementation></textarea>
            <label for=@Model.Implementation></label>
            <span asp-validation-for=@Model.Implementation class="text-danger"></span>
        </div>

        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">Create</button>
        </div>
</form>